@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
}
:root{
    --rosa-muito-claro: rgb(255, 224, 236);
    --rosa-claro: rgb(255, 203, 223);
    --rosa-padrao: rgb(255, 142, 185);
    --rosa-escuro: rgb(228, 108, 154);
    --rosa-muito-escuro: rgb(139, 34, 66);
    --shadow: 0px 0px 10px rgba(0, 0, 0, 0.200);
}
body{
    background-image: linear-gradient(to bottom, white, var(--rosa-claro), var(--rosa-padrao));
}

/*CABEÇALHO*/

.btn-expandir{
    display: none;
}


.menu-lateral {    
    width: 100%;
    padding: 10px 0px;
    background-color: var(--rosa-padrao);
    display: flex;
    justify-content: center;
    align-items: center;

}


.menu-lateral ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 150px;


}


.menu-lateral a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 5px 8px;
    transition: background-color 0.3s ease;
}

.menu-lateral a:hover {
    background-color: var(--rosa-escuro);
    color: white;
}

.menu-lateral .active {
    color: var(--rosa-muito-escuro);
}

.menu-lateral span.icon {
    margin-right: 5px;
}

/*MAIN*/
.group-apresentacao {
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: space-between; /* Espaça os itens horizontalmente */
    gap: 20px; /* Espaçamento entre os dois divs */
    padding: 80px; /* Espaçamento interno da seção */
    max-width: 100%;
}

.apresentacao-txt {
    max-width: 50%; /* Limita a largura do texto */;
}

main h1{
    font-size: 3em;
    color: var(--rosa-muito-escuro);
}

.apresentacao-img {
    max-width: 50%; /* Limita a largura da imagem */
    display: flex; /* Garante que o conteúdo interno da imagem seja flexível */
    justify-content: center; /* Centraliza a imagem horizontalmente */
}


img{
    width: 500px;
    height: auto;
}

.group-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    max-width: 100%;
    align-items: center;
    margin: auto;
    padding: 0px 80px 80px 80px;
}

.group-projetos button.btn-proj {
    height: 250px;
    width: 200px;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    transition: 0.2s;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.150);
}
.group-projetos button.btn-proj:hover {
    background-color: rgba(255, 255, 255, 0.500);
    border: none;
    height: 260px;
    width: 210px;
}
.group-projetos button img{
    width: 150px;
    height: auto;
    max-width: 100%;
}

.group-projetos button p{
    max-width: 100%;
}

.btn-proj-mais p{
    transition: 0.2s;
    
    font-size: 100px;
    color: var(--rosa-escuro);
}

.btn-proj-mais{
    width: 150px;
    height: 150px;
    background-color: white;
    border: none;
}

.btn-proj-mais:hover{
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.500);
    border: none;
    
}
.btn-proj-mais:hover p{
    color: #ffffff;
    
}
@media (max-width: 1100px){
    /* Estilos para a lista */
    .menu-lateral ul {
        gap: 100px; /* Espaçamento entre os itens */
    }
    img{
        width: 400px;
        height: auto;
    }
    
}


@media (max-width: 800px) {
    main, footer{
        margin-left: 66px;
    }
    .group-apresentacao {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        align-items: center; /* Centraliza os itens */
    }

    main h1{
        font-size: 2em;
    }

    img{
        width: 350px;
        height: auto;
    }

    .group-apresentacao {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        align-items: center; /* Centraliza os itens */
    }

    .apresentacao-txt, .apresentacao-img {
        max-width: 100%; /* Permite que os elementos ocupem toda a largura */
        text-align: center; /* Centraliza o texto em telas menores */
    }


    .menu-lateral, .menu-lateral ul{
        display: inline;
    }

    header{
        height: 100%;
    }

    .btn-expandir{
        display: flex;
        width: 100%;
        padding-left: 10px;
    }

    nav.menu-lateral{
        width: 60px;
        height: 100%;
        padding: 40px 0px 40px 1%;
        background-color: var(--rosa-padrao);
        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.150);
        position: fixed;
        top: 0;
        left: 0;
        transition: .3s;
        overflow: hidden;
    }

    nav.menu-lateral:hover{
        width: 230px;
    }
    .btn-expandir > i{
        color: white;
        cursor: pointer;
        font-size: 24px;
    }
    ul{
        height: 100%;
        
    }

    ul li.item-menu{
        transition: .2s;
    }

    ul li.item-menu a{
        padding: 20px 4%;
        display: flex;
        margin-bottom: 10px;


    }

    ul li.item-menu a span.txt-link{
        margin-left: 20px;

    }

    ul li.item-menu a span.icon i{
        font-size: 30px;
        margin-left: 9px;

    }


}

@media (max-width: 400px){
    img{
        width: 250px;
    }

    ul li.item-menu a span.icon i{
        font-size: 20px;
        margin-left: 9px;

    }
    main{
        margin-left: 46px;
    }
    footer p{
        font-size: 0.8em;
    }
    footer{
        margin-left: 46px;
    }
    nav.menu-lateral{
        width: 45px;
    }
    .btn-expandir i{
        font-size: 20px;
    }
    .group-apresentacao{
        padding: 0px;
        padding: 20px;
    }
    main h1{
        font-size: 1.2em;
    }

}

footer{
    text-align: center;
    padding: 10px;
    background-color: var(--rosa-muito-escuro);
    color: white;
    max-width: 100%;
}
footer a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
}